@media screen and (max-width: 960px) {
    //=======================navbar=================
    #logo-gato{
        display: none;
    }

    #search_{
        display: none; 
    }
    
    #link{
        margin-left: 3rem;
    }
    
    #img-usuario{
        margin-left: 3rem;        
    }

    //===============home========================
    .home-main {
        .titulo {
            padding-top: 8rem;
        }
        
        .home-container {
            width: 75%;
            top: 40%;
        }
    }

    //========================catalogo==================

  .cards-catalogo{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  
  }
  #carouselExampleIndicators img{
    height:auto;
    }

    //=========================checkout========================
    #d-flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 98vw;
        margin: auto;
        
        .container-resumen {
            width: 90vw;
            padding: 1rem;
        }

        .formulario-titulo {
            margin-top: 1.5rem;
        }

        .formulario-envio {
            width: 90vw;
            padding: 1rem;
        }
    }

    //==========================cliente=====================
    .imagen-caja {
        display: none;
      }
    
      .boton-modificar-perfil {
        
        font-size: 1.2rem;
      }
}
